<plugin name='constraints' version='0.8.1' grailsVersion='2.4 &gt; *'>
  <author>Geoff Lane</author>
  <authorEmail>geoff@zorched.net</authorEmail>
  <title>Custom domain constraints plugin</title>
  <description>
    This plugin allows you to create custom domain validations that are applied the same
    way as built-in domain constraints.
    </description>
  <documentation>http://grails.org/plugin/constraints</documentation>
  <type>ConstraintsGrailsPlugin</type>
  <resources>
    <resource>net.zorched.constraints.ComparisonConstraint</resource>
    <resource>net.zorched.constraints.SsnConstraint</resource>
    <resource>net.zorched.constraints.UsPhoneConstraint</resource>
    <resource>net.zorched.constraints.UsZipConstraint</resource>
  </resources>
</plugin>